$main-color: #0d683f;
$color1: #06e211;
$color2: #02864d;
$color3: #0c532c;

$bg-color1: #ebf2f5;

$linear-gradient: linear-gradient(45deg, $color1 0%, $color2 0%, $color3 100%);

$boder-color1: #d3e2e5;

$delete-color: #bb2e2e;
$delete-hover: #8f0d0d;
