@import '../../styles/global-colors.scss';

.map-popup {
  & .leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: none;
  }

  & .leaflet-popup-content {
    color: $main-color;
    font-size: 20px;
    font-weight: bold;
    margin: 8px 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & a {
      width: 40px;
      height: 40px;
      background: $color2;
      box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.26);
      border-radius: 12px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & .leaflet-popup-tip-container {
    display: none;
  }
}
