@import '../../styles/global-colors.scss';

aside.app-sidebar {
  position: fixed;
  height: 100%;
  padding: 32px 24px;
  background: $linear-gradient;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & img {
    width: 48px;
    border-radius: 10px;
  }

  & footer {
    & a,
    & button {
      width: 48px;
      height: 48px;

      border: 0;

      background: $main-color;
      border-radius: 16px;

      cursor: pointer;

      transition: background-color 0.2s;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    & a:hover,
    & button:hover {
      background: $color3;
    }
  }
}
